 <h1 class="bg-primary text-black p-4">
  Pipes
 </h1>
 
 <!-- ///////////////////////////////////////////////// -->


 <!--  
 <div class="container mt-4">
    <div class="row">
     <div class="col-md-4" *ngFor = "let file of filesArray">
      <div class="card">
        <div class="card-header">
          {{file.name}}
        </div>
        <div class="col-md-4">
          
        </div>
        <div class="card-body">
        {{file.size | filesize}}
        </div>
      </div>
     </div>
    </div> -->

       <!-- //////////////////////////////////////////// -->



       <div class="container mt-4">
        <div class="row mb-4">
          <div class="col-sm-5 offset-sm-2">
            <input type="text"  class="form-control" placeholder="search by team name"
            [(ngModel)]="searchByValue">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Sr No</th>
                  <th>Name</th>
                  <th>Country</th>
                  <th>Role</th>
                  <th>Age</th>
                  <th>Matchplayed</th>
                  <th>Totalruns</th>
                  <th>TotalWickets</th>
    
                </tr>
              </thead>
               <tbody>
                <tr *ngFor="let player of playersArray | filterPlayers : searchByValue; index as i" >
                  <td>{{i + 1}}</td>
                  <td>{{player.name}}</td>
                  <td>{{player.country}}</td>
                  <td>{{player.role}}</td>
                  <td>{{player.age}}</td>
                  <td>{{player.matchesPlayed}}</td>
                  <td>{{player.totalRuns}}</td>
                  <td>{{player.totalWickets}}</td>
                </tr>
               </tbody>
    
            </table>
          </div>
        </div>
      </div>
    
